
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    background-color: hsla(228.75, 66%, 4.7%, 1);
    color: hsl(0, 0%, 98%, 1);
    /* This should be Avenir Roman, however it is paid, so that's a replacement */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: hsla(0, 0%, 98%, 1);
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    body {
        font-size: 0.9375rem;
    }
}

@media only screen and (max-width: 479px) {
    body {
        font-size: 0.875rem;
    }
}